@import './reset.scss';

* { box-sizing: border-box; }

body {
    font-family: priori-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: questa-grande, serif;
    font-weight: 400;
    font-style: normal;
    color: #82AFB4;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px;
    padding: 5px;
    border-top: 1px solid #82AFB4;
    border-bottom: 2px solid #82AFB4;
    margin-bottom: 20px;
}

#App {
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Instructions {
    display: none;
}

#Resume {
    display: grid;
    grid-template-columns: 200px auto;
    
    > * { background-color: rgba(250, 249, 247, 0.9); }
    
    #Aside {
        background-color: rgba(69, 107, 83, 0.9);
        color: #FFFFFF;
        padding: 30px;
        display: grid;
        align-content: space-between;
        width: 200px;
        position: relative;

        #Info {
            text-align: right;
            width: 140px;
            margin-bottom: 100px;

            .header {
                background: #82AFB4;
                padding: 10px 10px 10px 60px;
                position: relative;
                top: -30px;
                left: -60px;
                width: 230px;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 0.5em;
                text-align: left;
            }

            #profile-photo {
                height: 250px;
                width: 250px;
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBwgu1A5zgPSvfE83nurkuzNEoXs9DMNr8Ww&usqp=CAU');
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                position: relative;
                top: -40px;
                z-index: 1;

                &:hover {

                    &:before {
                        content: 'edit';
                        height: 100%;
                        width: 100%;
                        display: block;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 50%;
                        color: #000000;
                        font-size: 30px;
                        text-align: center;
                        padding-top: 100px;
                        box-sizing: border-box;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                    }

                }

            }

            h2 {
                border: none;
                padding: 0;
                color: #FFFFFF;
                font-size: 15px;
                margin: 0;
                font-family: priori-sans, sans-serif;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
            }

            .address, .phone, .email {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                padding-bottom: 5px;
                margin-bottom: 5px;
            }

        }

        #Skills {
            text-align: center;

            h2 {
                color: #FFF;
                border-color: #FFF;
            }

        }

    }

    main {
        padding: 30px;
        position: relative;

        #Intro {
            padding-left: 100px;
            min-height: 300px;

            .title {
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            h2 {
                border: none;
                padding: 0;
                margin-bottom: 5px;
            }

            .profile {
                padding-bottom: 30px;
            }

        }

        #Education {

            > div {
                display: grid;
                grid-template-columns: 200px auto;
                grid-column-gap: 40px;
                margin-bottom: 50px;

                &:not(:last-child) {
                    border-bottom: 1px solid #82AFB4;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }

            }

            .education-date {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin-bottom: 5px;
                text-align: right;
            }

            .education-degree {
                font-weight: 700;
                color: #456B53;
                font-size: 18px;
                text-align: right;
            }

            .education-school {
                font-style: italic;
                font-weight: 700;
                font-size: 20px;
            }

            .education-location {
                color: #666666;
                font-style: italic;
            }

        }

        #Experience {

            > div {
                display: grid;
                grid-template-columns: 200px auto;
                grid-column-gap: 40px;

                &:not(:last-child) {
                    border-bottom: 1px solid #82AFB4;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }

            }

            .experience-date {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin-bottom: 5px;
                text-align: right;
            }

            .experience-title {
                font-weight: 700;
                color: #456B53;
                font-size: 18px;
                text-align: right;
            }

            .experience-company {
                font-style: italic;
                font-weight: 700;
                font-size: 20px;
            }

            .experience-location {
                color: #666666;
                font-style: italic;
            }

        }

    }

    .edit-form {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: #82AFB4;
        color: #FFFFFF;
        padding: 20px;
        width: 300px;
        z-index: 20;

        input, textarea {
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background: none;
            border-radius: 0;
            margin-bottom: 10px;
            font-family: priori-sans, sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 15px;
            line-height: 1.4;
            padding: 5px 10px;
            color: #FFFFFF;
        }

        button {
            border: none;
            background: #FFFFFF;
            color: #82AFB4;
            font-family: priori-sans, sans-serif;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 1.4;
            padding: 5px 20px;
        }

    }

}